extends layout

block content
    h1= title
    p Welcome to #{title}
    a(href="/")
        p Home 
    p Add student 
    form(action="/admin/addStudent" method="POST")
        input(type="text" placeholder="Name" Name="name")
        input(type="text" placeholder="Roll No" Name="rollno") 
        input(type="submit", value="Enter")
    
    p View All students
    form(action="/admin/getAllStudents", method="post")
        input(type="submit", value="Search") 

    p Find Student 
    form(action="/admin/getStudent", method="post")
        input(type="text" placeholder="Student Id" Name="id") 
        input(type="submit", value="Submit")
    
